.percentage-caculator-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.percentage-caculator-section {
    padding: 40px 40px 40px 40px;
    width: 700px;
    background-color: var(--backgroundColorInnerBox);
    box-shadow: 10px 10px 30px 0px #cbcbcb1a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.percentage-caculator-lable {
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    color: var(--textColor);
}

.percentage-caculator-title {
    color: var(--textColor);
    font-weight: 700;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--textColor);
    font-size: 40px;
}

.percentage-caculator-main-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--textColor);
}

.percentage-caculator-innerTitle {
    color: var(--textColor);
    font-weight: 400;
}

.percentage-caculator-input {
    width: 359px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundColorInnerBox);
    color: var(--textColor);
    padding: 20px;
}

.percentage-input-box {
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--textColor);
}

.percentage-button-section {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}

.percentage-button {
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.result-value {
    color: var(--textColor);
    font-size: 16px;
    text-align: left;
}

.result-value-span {
    font-weight: 700;
}

.result-value-span-green {
    font-weight: 700;
    color: var(--greenColor);
}

.green-button {
    background-color: var(--greenColor);
}

.blue-button {
    background-color: var(--blueColor);
}

.percentage-result-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

@media (max-width:750px) {

    .percentage-caculator-title {
        font-size: 30px;
    }

    .percentage-caculator-innerTitle {
        font-size: 18px;
    }

    .percentage-caculator-section {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .percentage-caculator-lable {
        width: 130px;
        font-size: 15px;
    }

    .percentage-caculator-input {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

    .result-value {
        font-size: 14px;
    }

    .percentage-input-box {
        gap: 2px;
    }

    .percentage-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width:500px) {
    .percentage-caculator-section-main {
        margin-top: 50px;
    }
}

@media (max-width:359px) {

    .percentage-caculator-title {
        font-size: 20px;
    }

    .percentage-caculator-input {
        width: 120px;
        height: 40px;
        font-size: 13px;
        padding: 10px;
    }

    .percentage-caculator-lable {
        width: 130px;
        font-size: 12px;
    }

    .percentage-input-box {
        gap: 0px;
    }

    .percentage-button {
        font-size: 12px;
        border-radius: 5px;
        padding: 5px;
    }
}