/* setting page css */
.sd-inner-menu-section {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin-top: 80px;

}

.setting-container {
    padding: 20px;
    background-color: var(--backgroundColorInnerBox);
    border-radius: 10px;
}

.setting-menu {
    width: 50vw;
}

.setting-menu .setting-inner-item {
    padding: 10px;
    border-bottom: 2px solid var(--textColor);
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: var(--textColor);
    font-weight: 400;
    font-size: 18px;
}


.setting-inner-menu-value {
    font-family: Montserrat;
    font-weight: 600;
}

.setting-menu-input {
    display: none;
}

.setting-inner-menu li {
    list-style: none;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}


@media (max-width:1600px) {}

@media (max-width:1350px) {}

@media (max-width:1150px) {}

@media (max-width:500px) {

    .sd-inner-menu-section {
        flex-direction: column;
        background-color: var(--backgroundColorInnerBox);
    }

    .setting-menu {
        width: 100%;
    }

    .setting-container {
        border-radius: 0;
        background-color: var(--backgroundColorInnerBox);
        box-shadow: none;
    }

    .setting-menu .setting-inner-item {
        font-size: 16px;
    }
}