.menu-button {
    font-size: 50px;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    position: fixed;
    top: 0;
    left: 2%;
    transition: 0.5s;
}

.menu-close-button {
    color: var(--textColor);
    font-size: 30px;
}

.menu-close-button:hover,
.menu-button:hover {
    cursor: pointer;
}


.sidebar {
    width: 280px;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: var(--backgroundColorInnerBox);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: 0.5s;
}

.sidebar.active {
    left: 0;
}

.sd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: var(--textColor);
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}

.sd-body {
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}

.sd-body ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.sd-body ul li {
    list-style: none;
    margin-bottom: 10px;
}

.sd-body ul li {
    display: inline-block;
    width: 100%;
    padding: 10px 16px;
    color: var(--textColor);
    background-color: var(--backgroundColorInnerBox);
    border-radius: 4px;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
}

@media (max-width:500px) {
    .menu-button {
        font-size: 30px;
    }

    .menu-close-button {
        color: var(--shadowColor);
        font-size: 20px;
    }

}