/* basic calculator css */
.main-container {
    padding: 20px;
    width: 359px;
    border-radius: 20px;
}

.container__input {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding-right: 10px;
    font-size: 30px;
    text-align: end;
    overflow-y: auto;
}

.container__input::placeholder {
    color: var(--textColor);
}

.calculator-buttons {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-buttons button {
    max-width: 60px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
}


/* sidebar menu css */
.sidebar-menu {
    width: 50%;
    /* height: 95vh; */
}

.menu-button {
    font-size: 30px;
}


/* redirect link css */
.redirect-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* loan calculator report piechart css */
.pieChart-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 400px;
}


/*  all calculator body card css */
.bootstrap-card-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bootstrap-card {
    width: 50%;
}



@media (max-width:500px) {
    .sidebar-menu {
        width: 100%;
    }

    .menu-button {
        font-size: 20px;
    }

    .main-container {
        width: 100%;
        border-radius: 0;
    }

    .bootstrap-card-section {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .bootstrap-card {
        width: 100%;
    }

    .pieChart-box {
        height: 300px;
    }
}

@media (max-width:300px) {
    .pieChart-box {
        height: 200px;
    }
}