.input-radio-section {
    display: flex;
    gap: 20px;
}

.input-radio-box-label {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 500;
}

.dateAddSubtractNumberInput {
    width: 100px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    background-color: var(--backgroundColorInnerBox);
    color: var(--textColor);
    padding: 20px;
}

.dateAddSubtractButton {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    box-shadow: var(--boxShadow);
    background-color: var(--greenColor);
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:400px) {
    .dateAddSubtractNumberInput {
        width: 70px;
        height: 40px;
        font-size: 14px;
        padding: 10px;
    }

    .dateAddSubtractButton {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
    .input-radio-box-label {
        font-size: 14px;
    }
}